.todo-item {
  margin: 1rem auto;
}
.todo-body {
  display: inline-block;
}
.todo-buttons {
  float: right;
}
.todo-btn-del {
  color: crimson;
}
.todo-btn-toggle {
  color: gray;
}
.done {
  color: green;
}